
.navbar-custom {
    background-color: #1f2227;
}
 
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: floralwhite;
}
 
.navbar-custom .nav-link:hover,
.navbar-custom .nav-link.active{
   color: gray; 
}

.navbar-custom .navbar-toggler{
  background-color: transparent;
  border: 1px solid white;
  padding: 0.25rem;
  line-height: 1;
  border-radius: 0.25rem;
}

.navbar-custom .navbar-toggler{
  background-color: transparent;
  border-color: white;
  padding: 0.25rem;
  transition: padding 1s;
}

.navbar-custom .navbar-toggler:hover{
  padding: 0.4rem;
}

.navbar-custom .navbar-toggler-icon{
  background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236, 227, 227, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  
}