body{
    overflow: auto;
}
.photography{
    margin: 20px;
}
.row{  
    display: flex;  
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    max-width: 25%;
    
}

.column img{
    margin: 10px 10px 10px 0px;
}

#carousal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.eachCarousal{
    display: none;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

img.carousal-display{
    width: 80vw;
    height: 80vh;
    margin: 120px 80px 80px 0px;
    object-fit: contain;
}


.prev,
.next,
.close{
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;       
    font-weight: bold;
    transition: 0.6s ease;
    user-select: none;
}

.prev{
    left: 10px;
}

.next,
.close {
    right: 20px;
}

.close{
    top:70px;
    
}


@media (max-width: 800px) {

    .column{
        flex: 50%;
        max-width: 50%;
    }
    
    .column img{
        margin: 10px 10px 10px 0px;
    }
    img.carousal-display{
        width: 100%;
        height: 80%;
    }

}

@media (max-width: 600px) {

    .column{
        flex: 100%;
        max-width: 100%;
    }
    
    .column img{
        margin: 10px 10px 10px 0px;
    }

    img.carousal-display{
        width: 100%;
        height: 75%;
    }
}


